.container__big-card {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.9rem;

  margin: 0 1.2rem;
}

.big-card__photo > img {
  width: 100%;
  min-width: 50%;
}

.big-card__title > h1 {
  font-size: 18pt;
  text-align: left;
}

.big-card__description > p > a {
  font-size: 12pt;
  color: #888888;
}
