.container__menu-title {
  color: #ffffff;
}

.container__menu-title h1 {
  display: flex;
  justify-content: center;

  margin: 1rem auto;

  font-size: 12rem;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-title hr {
  margin: 0.5rem 0;
}
