.container__articles {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  margin-top: 30px;
}

.articles__main {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.articles__others {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}
